<h1><%= issue.get('text') %></h1>

<div class="info">
  <p class="tags"><% _.each(issue.get('tags'), function (tag, i) { %><%= tag %><% if (i !== issue.get('tags').length - 1) { %>, <% } %><% }) %></p>
  <p class="relevance">
    <span><% if (issue.get('relevance') >= 0) { %>+<% } %><%= issue.get('relevance') %></span>
    <a class="plus" href="">+1</a>
    <a class="minus" href="">-1</a>
  </p>
  <p class="date"><%= issue.get('created_at') %></p>
  <p class="author"><a href=""><%= issue.get('author') %></a></p>
</div>

<div id="issue_show_replies" class="box"></div>
<div id="issue_show_pictures" class="box"></div>
<div id="issue_show_map" class="box"></div>
<div id="issue_show_activity" class="box"></div>
