.full {
  float: left;
  width: 100%;
}
.center {
  margin: auto;
  width: 750px;
}
body {
  background: #ddf;
  font-family: Arial, sans-serif;
}
#sidebar {
  float: left;
  width: 230px;
}
#sidebar div.box{
  margin-bottom: 15px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccf;
  box-shadow: 0 1px 2px #ccf;
}
#sidebar h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #303030;
}
#user_profile h1 {
  margin-bottom: 5px;
}
#user_profile p {
  font-size: 13px;
  color: #505050;
  line-height: 16px;
  margin-bottom: 10px;
}
#user_profile p a {
  color: #66f;
  text-decoration: none;
}
#user_profile a:hover {
  text-decoration: underline;
}
#user_profile p.small {
  margin-bottom: 0;
  font-size: 11px;
  color: #909090;
}
#user_profile a.button {
  display: block;
  border-radius: 5px;
  border: 1px solid #55f;
  box-shadow: 0 1px 2px #99f;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background: #66f;
  text-decoration: none;
  text-shadow: 1px 1px 0 #55f;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}
#user_profile a.button:hover {
  background: #77f;
}
#tag-list h1 {
  border-bottom: 1px dotted #e0e0e0;
  margin-bottom: 8px;
  padding-bottom: 5px;
  background: url(images/tag.png) no-repeat right top;
}
#tag-list p {
  color: #505050;
  font-size: 13px;
}
#tag-list a {
  color: #66f;
  line-height: 16px;
  text-decoration: none;
}
#tag-list a:hover {
  text-decoration: underline;
}
#mark {
  text-align: center;
}
#mark img {
  margin-bottom: 5px;
}
#mark h1 {
  margin-bottom: 10px;
  text-align: center;
}
#mark p {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 5px;
  color: #505050;
  text-align: left;
}
#content {
  float: right;
  width: 500px;
}
header {
  margin-bottom: 20px;
  background: #333;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #333;
  padding: 10px 0;
}
footer {
  font-size: 13px;
  color: #505050;
  text-align: center;
  padding-bottom: 50px;
  text-shadow: 1px 1px 0 #fff;
}
#logo {
  float: left;
  line-height: 27px;
  text-align: center;
  color: #c0c0c0;
  text-decoration: none;
  text-shadow: #606060;
  font-size: 17px;
  outline: none;
}
#logo span {
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 7px;
}
header .add {
  float: right;
  font-size: 11px;
  text-decoration: none;
  color: #fff;
  background: #c44;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  line-height: 25px;
  padding: 0 10px;
  text-shadow: 1px 1px 0 #707070;
  border: 1px solid #d44;
}
header .add:hover {
  background: #c22;
}

#issue-list, 
#issue-show {
  display: none;
  background: #fff;
  border: 1px solid #ccf;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  clear: both;
}
#issue-list h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 15px;
}
#issue-list li {
  padding: 10px 0 10px 22px;
  list-style: none;
  border-bottom: 1px dotted #e0e0e0;
  background: url(images/user.png) no-repeat 0 12px;
}
#issue-list li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
#issue-list h2 {
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  margin-bottom: 3px;
}
#issue-list h2 a {
  text-decoration: none;
  color: #303030;;
}
#issue-list .info {
  height: 16px;
}
#issue-list .info p {
  float: left;
  font-size: 11px;
  line-height: 16px;
  color: #909090;
  margin-right: 20px;
}
#issue-list .info p.relevance {
  font-weight: bold;
  font-style: italic;
}
#issue-list .info p a {
  text-decoration: none;
  color: #66f;
}
#issue-show h1 {
  font-size: 15px;
  line-height: 18px;
  color: #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #e0e0e0;
}
#issue-show .info {
  height: 105px;
}
#issue-show .info p {
  font-size: 13px;
  color: #707070;
  margin-right: 20px;
  margin-bottom: 3px;
  line-height: 20px;
}
#issue-show .info p a {
  text-decoration: none;
  color: #66f;
}
#issue-show .info p.relevance {
  float: right;
  margin-right: 0;
}
#issue-show .info p.relevance span {
  float: left;
  margin-right: 5px;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: #66f;
  text-shadow: 1px 1px 0 #fff;
}
#issue-show .info p.relevance a {
  float: left;
  text-indent: -99999px;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  outline: none;
}
#issue-show .info p.relevance a.plus {
  background: url(images/plus.png);
}
#issue-show .info p.relevance a.minus {
  background: url(images/minus.png);
}

#issue-show .info p.tags {
  padding-left: 22px;
  background: url(images/tag.png) no-repeat left 3px;
}
#issue-show .info p.date {
  padding-left: 22px;
  background: url(images/clock.png) no-repeat left center;
}
#issue-show .info p.author {
  padding-left: 22px;
  background: url(images/user.png) no-repeat left 3px;
}
#issue-show .info p.fixed_by {
  font-weight: bold;
  padding-left: 22px;
  background: url(images/tick-red.png) no-repeat left 3px;
  color: #0c0;
  text-shadow: 1px 1px 0 #f0f0f0;
}

#issue-show .box {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 15px;
}
#issue-show .box.loading {
  min-height: 50px;
  background: url(images/spinner.gif) no-repeat center center;
}
#issue-show .box h3 {
  font-size: 13px;
  color: #505050;
  background: #f7f7f7;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 10px;
  line-height: 20px;
  text-shadow: 1px 1px 0 #fff;
}
#issue-show .box p.no-results {
  padding: 10px;
  font-size: 13px;
  font-style: italic;
  color: #909090;
}
#issue_show_pictures,
#issue_show_map {
  width: 224px;
  float: left;
}
#issue_show_pictures {
  margin-right: 15px;
}
#issue_show_activity {
  clear: both;
}
#issue-show_replies li {
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px dotted #e0e0e0;
}
#issue-show_replies li:first-child {
  padding-top: 5px;
}
#issue-show_replies li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
#issue_show_activity ul,
#issue_show_replies ul {
  padding: 10px;
  list-style: none;
}
#issue_show_replies li {
  padding: 10px 0;
  border-bottom: 1px dotted #e0e0e0;
}
#issue_show_replies li:first-child {
  padding-top: 0;
}
#issue_show_replies li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
#issue_show_replies h4 {
  font-size: 13px;
  line-height: 16px;
  color: #505050;
  font-weight: normal 
}
#issue_show_replies .info {
  margin-bottom: 0;
  height: 20px;
}
#issue_show_replies .info p {
  float: left;
  font-size: 11px;
  color: #909090;
  width: auto;
  padding-left: 0 !important;
  background: 0 !important;
}
#issue_show_activity li {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 5px;
  list-style: none;
  color: #505050;
}
#issue_show_activity li:last-child {
  margin-bottom: 0;
}
#issue_show_activity li a {
  color: #66f;
  text-decoration: none;
}
#issue_show_pictures .clear {
  clear: both;
}
#issue_show_pictures ul {
  float: left;
  width: 204px;
  max-height: 214px;
  padding: 10px 10px 0;
  overflow: auto;
}
#issue_show_pictures li {
  float: left;
  width: 95px;
  height: 95px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #e0e0e0;
  text-align: center;
}
#issue_show_pictures li:nth-child(2n) {
  margin-right: 0;
}
#issue_show_pictures img {
  font-size: 13px;
  color: #909090;
  background: #e0e0e0;
}


#hot-issue-list h1 {
  padding-right: 20px;
  background: url(images/star.png) no-repeat right top;
}
#hot-issue-list aside {
  background: #fff;
}
#hot-issue-list.loading h1 {
  background-image:  url(images/spinner.gif);
}
#hot-issue-list.loading {
  background-image: url(images/spinner.gif);
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 20px;
}
#tag-list.box.loading {
  background-image: url(images/spinner.gif);
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 30px;
}
#tag-list.box aside {
  background: #fff;
}
#tag-list.loading h1 {
  background: url(images/spinner.gif) no-repeat right top;
}

#issue-show.loading,
#issue-list.loading {
  min-height: 30px;
  background-image: url(images/spinner.gif);
  background-position: center center;
  background-repeat: no-repeat;
}
#issue-list ul {
  background: #fff;
}
#issue-list.loading ul {
  background-image: url(images/spinner.gif);
  background-position: right top;
  background-repeat: no-repeat;
}
#issue-show.loading * {
  display: none;
}

#issue-show .replies.loading,
#issue-show .activity.loading,
#issue-show .pictures.loading {
  min-height: 30px;
  background: #fff url(images/spinner.gif) no-repeat center center;
}
#issue-show .replies.loading ul,
#issue-show .activity.loading ul,
#issue-show .pictures.loading ul {
  opacity: 0.3;
  overflow: hidden;
}

#issue-show .replies p.date,
#issue-show .replies p.author {
  padding-left: 0;
  background: 0;
}

#issue_map_frame {
  margin: 15px;
  height: 200px;
}

#main-nav {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccf;
  box-shadow: 0 1px 2px #ccf;
  float: left;
  width: 100%;
  height: 30px;
  background: #fff;
  overflow: hidden;
  text-align: center;
}
#main-nav.loading {
  background: #fff url(images/spinner.gif) no-repeat center center;
}
#main-nav.loading a {
  opacity: 0.2 !important;
}
#main-nav li {
  display: inline-block;
  width: 50px;
  height: 30px;
  margin-right: 5px;
}
#main-nav li a {
  transition: opacity 0.3s;
  display: block;
  line-height: 30px;
  text-indent: -99999px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center center;
  border: solid #fff;
  border-width: 0 1px;
  opacity: 0.5;
}
#main-nav li a:hover {
  opacity: 1;
}
#main-nav li a.active {
  border-color: #99f;
  box-shadow: 0 0 5px #99f;
  border-color: #ccf;
  opacity: 1;
}
#main-nav li a.hot {
  background-image: url(images/star.png);
}
#main-nav li a.date {
  background-image: url(images/clock.png);
}
#main-nav li a.usuarios {
  background-image: url(images/user.png);
}
#main-nav li a.agregados{
  background-image: url(images/plus.png);
}
