body {
	background-color: #000;
	padding-top: 60px;
	padding-bottom: 40px;
}

.display-inline {
	width: 800px;
}

.display-inline input {
	display: inline;
}

.login-form label {
	display: inline;
}

.olTileImage {
	max-width: 256%;
}